* {
    box-sizing: border-box;
}

.shoe {
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    margin: 0.25rem;
    border-radius: 5px;
}

    .shoe img {
        max-width: 450px;
        border-radius: 5px 5px 0 0;
    }

    .details .title {
        padding: 0.25rem;
        text-align: center
    }

    .details .price {
        padding: 0.25rem;
        text-align: center;
        font-size: 1.1rem;
        color: red;
    }

