*[b-6uzpou6ytj] { 
    box-sizing: border-box;
}

.shoes[b-6uzpou6ytj] {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.shoe[b-6uzpou6ytj] {
    box-shadow: 2px 2px 2px #ccc;
    max-width: 150px;
    margin: 0.25rem;
    border-radius: 5px;
    display: block;
}

.img[b-6uzpou6ytj] {
    max-width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.info[b-6uzpou6ytj] {
    margin-top: auto;
}

.shoe .title[b-6uzpou6ytj] {
    padding: 0.25rem;
    text-align: center
}

.shoe .price[b-6uzpou6ytj] {
    padding: 0.25rem;
    text-align: center;
    font-size: 1.1rem;
    color: red;
}

.shoe .actions[b-6uzpou6ytj] {
    padding: 0.25rem;
    display: flex;
}

.actions button[b-6uzpou6ytj] {
    border: 0;
    flex-grow: 1;
    text-decoration: none !important;
}

.actions[b-6uzpou6ytj] {
    display: flex;
}