/* _content/CourseProject/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xqnuuovobb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xqnuuovobb] {
    color: black !important;
    text-decoration: none !important;
}

button[b-xqnuuovobb], .btn[b-xqnuuovobb], .btn-primary[b-xqnuuovobb] {
    color: #fff;
    background-color: cornflowerblue !important;
    border-color: #1861ae !important;
}

.nav-pills .nav-link.active[b-xqnuuovobb], .nav-pills .show > .nav-link[b-xqnuuovobb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xqnuuovobb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xqnuuovobb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xqnuuovobb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer[b-xqnuuovobb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/CourseProject/Views/Shoes/AllShoes.cshtml.rz.scp.css */
*[b-6uzpou6ytj] { 
    box-sizing: border-box;
}

.shoes[b-6uzpou6ytj] {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.shoe[b-6uzpou6ytj] {
    box-shadow: 2px 2px 2px #ccc;
    max-width: 150px;
    margin: 0.25rem;
    border-radius: 5px;
    display: block;
}

.img[b-6uzpou6ytj] {
    max-width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.info[b-6uzpou6ytj] {
    margin-top: auto;
}

.shoe .title[b-6uzpou6ytj] {
    padding: 0.25rem;
    text-align: center
}

.shoe .price[b-6uzpou6ytj] {
    padding: 0.25rem;
    text-align: center;
    font-size: 1.1rem;
    color: red;
}

.shoe .actions[b-6uzpou6ytj] {
    padding: 0.25rem;
    display: flex;
}

.actions button[b-6uzpou6ytj] {
    border: 0;
    flex-grow: 1;
    text-decoration: none !important;
}

.actions[b-6uzpou6ytj] {
    display: flex;
}
/* _content/CourseProject/Views/Shoes/Details.cshtml.rz.scp.css */
*[b-2dtl4fwm5k] {
    box-sizing: border-box;
}

.shoe[b-2dtl4fwm5k] {
    box-shadow: 2px 2px 2px #ccc;
    display: flex;
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    margin: 0.25rem;
    border-radius: 5px;
}

    .shoe img[b-2dtl4fwm5k] {
        max-width: 450px;
        border-radius: 5px 5px 0 0;
    }

    .details[b-2dtl4fwm5k] {
        flex-grow: 1;
    }

    .details .title[b-2dtl4fwm5k] {
        padding: 0.25rem;
    }

    .details .price[b-2dtl4fwm5k] {
        padding: 0.25rem;
        font-size: 1.1rem;
        color: red;
    }

/* _content/CourseProject/Views/Shoes/Edit.cshtml.rz.scp.css */
input[type="submit"][b-t9o8pgh1f0]{
    width: 100%;
    margin-top: 1rem;
}
