@model CourseProject.ViewModels.Brands.BrandDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Brand details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <span>Shoes: </span>
        <ul>
                @foreach(var item in Model.Shoes)
                {
                    <li>@item.Name</li>
                }
        </ul>
    </dl>
</div>
<div>
        @Html.ActionLink("Edit", "Edit", new { BrandId = Model.Id }) |
        <a asp-action="ListAllBrands">Back to List</a>
</div>